body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: 'Segoe UI';
}

header {
  padding: 15px;
  font-size: 1.8em;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px,1fr));
  gap: 15px;
  padding: 15px;
}

.card {
  transition: transform .3s;
}
.card:hover {
  transform: scale(1.15);
  z-index: 2;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
